html, body {
    height: 100%;
    margin: 0;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

* {
    box-sizing: border-box;
}

.bg-image {
    height: 100%;
    width: 100%;
    /* The image used */
    background-image: url(../Images/TableBG.jpg);
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

    .bg-image br {
        height: 100%;
    }

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.ep-button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
